
<div class="row" style="margin-bottom: 50px;">
	<h1 class="text-center">Agregar Nuevo Jugador</h1>
</div>
<div class="row">
	<div class="col-md-offset-5 col-md-2 text-center">
		<%= form_for :player, url: players_path do |f| %>
		  
		    <h3><%= f.label :nombre %></h3>
		    <%= f.text_field :name %>
		  </p> 
		  <p>
		    <%= f.submit "Guardar"%>
		  </p>
		<% end %>

		<%= link_to 'Regresar', players_path %>
	</div>
</div>